.bestSellerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    margin-top: 3em;
    margin-bottom: 6em;
    overflow: hidden;
}

.bestSellerTitle {
    margin-top: 2em;
    margin-left: 1em;
    width: 80%;
}

.innerBestSellerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
    margin-top: 3em;
    overflow: hidden;
    width: 80%;
}

.bestSellerLinks {
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    /* border: 1px solid black; */
}

.innerBestSeller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    overflow: hidden;
}

.bestSellerImage {
    width: 100%;
    max-width: 100%;
    height: 40vh;
    max-height: 40vh;
    opacity: 100%;
}

.bestSellerLinks:hover .bestSellerImage {
    opacity: 50%;
    transition: all 1s;
}

.bestSellerBrand {
    color: rgb(194, 194, 194);
    font-size: 0.9em;
    /* border: 1px solid black; */
}

.bestSellerName {
    color: #333;
    font-size: 1.2em;
}

.bestSellerName:hover {
    text-decoration: underline;
}

.bestSellerPrice {
    color: #333;
}