.catalogContainer {
    /* border: 1px solid black; */
    margin: 2em;
}

.orderContainer {
    text-align: right;
}

.catalogTitle {
    margin-top: 2em;
    text-align: center;
}

.noResults {
    margin-top: 3em;
    text-align: center;
    color: rgb(194, 194, 194);
    font-style: italic;
}