.commentItemContainer {
    width: 100%;
    /* border-left: 1px solid rgb(184, 184, 184); */
    padding-left: 1em;
}

.commentContent {
    margin: 0.5em 0 0.5em 0;
    font-weight: bold;
}

.repliedCommentsContainer {
    width: 100%;
}

.commentNameDate {
    display: flex;
    align-items: flex-end;
}

.commentAuthorName {
    margin-right: 0.5em;
    font-weight: bold;
}

.commentDate {
    font-size: 0.8em;
    color: rgb(163, 163, 163);
}