.homepageContainer{
    position: relative;
    top: 0;
    left: 0;
}

.newsContainer {
    display: flex;
    align-items: center;
    height: 50vh;
    /* border: 1px solid black; */
}

.newsContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
    height: 50vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.newsHeadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsHead {
    font-size: 3em;
    color: #000;
}

.newsDetails {
    font-size: 2.5em;
    color: rgb(197, 164, 100);
}

.newsParagraph {
    font-size: 1.2em;
    font-weight: bold;
}

.newsLink {
    text-decoration: none;
    /* border: 1px solid black; */
    padding: 0.6em;
    border-radius: 50px;
    background-color: #000;
    color: rgb(197, 164, 100);
}

.newsLink:hover {
    color: #fff;
}

.newsImageContainer {
    width: 50%;
    height: 50vh;
}

.newsImage {
    width: 100%;
    height: 50vh;
}

.homepageImage {
    width: 100%;
    max-height: 65vh;
    /* margin-top: 10em; */
    position: relative;
    top: 0;
    left: 0;
}

.introContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background-color: #ffffff6e;
    position: absolute;
    top: 87em;
}

.introParagraph {
    width: 28%;
    text-align: center;
    font-weight:bold;
}

.introParLink {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.introParLink:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}