.myProductsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3em;
    padding: 2em;
}

.innerMyProductsContainer {
    width: 19%;
    margin-bottom: 2em;
}

.myProductsLinks {
    text-decoration: none;
    color: #333;
}

.productsImage {
    width: 100%;
    height: 30vh;
}

.myProductsBrand {
    color: rgb(194, 194, 194);
    font-size: 0.9em;
}

.myProductsName {
    font-size: 1.1em;
}

.myProductsName:hover {
    text-decoration: underline;
}

.myProductsPrice {
    font-size: 0.9em;
}

.noProductsYet {
    color: #a0a0a0b9;
    font-style: italic;
    text-align: center;
    margin-top: 6em;
}

@media screen and (max-width: 1470px) {
    .innerMyProductsContainer {
        width: 25%;
    }
}

@media screen and (max-width: 1160px) {
    .innerMyProductsContainer {
        width: 28%;
    }
}

@media screen and (max-width: 950px) {
    .innerMyProductsContainer {
        width: 30%;
    }
}

@media screen and (max-width: 830px) {
    .innerMyProductsContainer {
        width: 40%;
    }
}

@media screen and (max-width: 730px) {
    .innerMyProductsContainer {
        width: 60%;
    }
}

@media screen and (max-width: 630px) {
    .innerMyProductsContainer {
        width: 80%;
        margin: 0;
    }
}

@media screen and (max-width: 530px) {
    .innerMyProductsContainer {
        width: 90%;
    }
}

@media screen and (max-width: 420px) {
    .innerMyProductsContainer {
        width: 100%;
    }
}