.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfcfc;
    color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 2px 0px 5px #000;
    z-index: 1;
    padding: 1em;
    z-index: 999;
}

.navLeftSide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    /* border: 1px solid black; */
}

.logo {
    width: 100px;
    padding: 5px;
}

.middleSide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-top: 1.5em;
}

.navMenuItemsLinks {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
}

.navMenuItemsLinks:hover {
    text-decoration: underline;
}

.productsContainerDropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0 1em;
    position: relative;
    text-decoration: none;
    text-align: center;
}

.navProductsLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.navProductsLink:hover {
    text-decoration: underline;
}

.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: #fff;
}

.productsContainerDropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 15%;
    text-align: left;
    margin-top: 1.5em;
    padding: 1em;
    box-shadow: 0px 3px 5px -1px #ccc;
    border-radius: 10px;
}

.navRightSide {
    padding-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.5em; */
    /* border: 1px solid black; */
}

.navSearchBar {
    margin-right: 0.5em;
    margin-top: 0.1em;
}

.navMyProfileLink {
    text-decoration: none;
    color: #333;
}

.signUpInOut {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}