.productSection {
    display: flex;
    margin: 5em;
    gap: 2em;
    font-family: 'Lora';
}

.productsPageLeftSide {
    width: 60%;
}

.productPageImage {
    width: 100%;
}

.productsPageRightSide {
    width: 40%;
}

.productPageBrand {
    font-size: 1em;
    font-weight: lighter;
    color: rgb(194, 194, 194);
}

.productPageTopContainer {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 1em;
}

.productPageNameContainer {
    display: flex;
}

.productPageName {
    font-size: 4em;
}

.productPageFavContainer {
    margin-right: auto;
}

.productPageEditDelete {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5em;
}

.productPagePrice {
    font-size: 1.5em;
    color: rgb(83, 83, 83);
    margin-top: 1em;
}

.quantityButtons {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    gap: 0.5em;
}

.addToCartButtonContainer {
    margin-top: 2em;
}

.productPageDescContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    gap: 1em;
    width: 60%;
    word-spacing: 0.5em;
    line-height: 1.5;
}

.commentsSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    /* border: 1px solid black; */
    margin-bottom: 5em;
}

.commentsLabel {
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    width: 60%;
    justify-content: left;
}

.commentsContainer {
    width: 60%;
    margin-top: 2em;
}

.noReviewsYet {
    margin-top: 3em;
    color: #a0a0a0b9;
    font-style: italic;
    text-align: center;
}