.productListContainer {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4, 15%);
    gap: 3em;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

@media screen and (max-width: 1400px) {
    .productListContainer {
        grid-template-columns: repeat(3, 17%);
        gap: 5em;
    }
}

@media screen and (max-width: 1300px) {
    .productListContainer {
        grid-template-columns: repeat(3, 20%);
        gap: 5em;
    }
}

@media screen and (max-width: 1130px) {
    .productListContainer {
        grid-template-columns: repeat(3, 22%);
        gap: 5em;
    }
}

@media screen and (max-width: 990px) {
    .productListContainer {
        grid-template-columns: repeat(3, 25%);
        gap: 5em;
    }
}

@media screen and (max-width: 890px) {
    .productListContainer {
        grid-template-columns: repeat(2, 30%);
        gap: 5em;
    }
}

@media screen and (max-width: 790px) {
    .productListContainer {
        grid-template-columns: repeat(2, 35%);
        gap: 5em;
    }
}

@media screen and (max-width: 650px) {
    .productListContainer {
        grid-template-columns: repeat(2, 40%);
        gap: 5em;
    }
}

@media screen and (max-width: 550px) {
    .productListContainer {
        grid-template-columns: repeat(1, 60%);
        gap: 5em;
    }
}

@media screen and (max-width: 420px) {
    .productListContainer {
        grid-template-columns: repeat(1, 60%);
        gap: 5em;
    }
}