.salesBarContainer {
    /* border: 1px solid black; */
    height: 3vh;
    background-color: rgb(0, 56, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.salesContent {
    color: #fff;
    padding: 0.5em;
    animation: scroll 12s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}