.salesBarContainer {
    /* border: 1px solid black; */
    height: 3vh;
    background-color: rgb(0, 56, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.salesContent {
    color: #fff;
    padding: 0.5em;
    animation: scroll 16s linear infinite;
    overflow-x: hidden; 
}

@keyframes scroll {
    from {
        transform: translateX(180%);
    }
    to {
        transform: translateX(-180%);
    }
}