.signUpContainer {
    display: flex;
    gap: 1em;
}

.signUpLeftSide {
    width: 40%;
}

.signUpRightSide {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signUpTitle {
    text-align: left;
    width: 50%;
    margin-bottom: 1.5em;
}

.signUpFormContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.signUpUsernamePassword {
    display: flex;
    flex-direction: column;
}

.signUpInput {
    height: 5vh;
    outline: none;
    font-size: 1.2em;
    padding: 10px;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 10px;
    margin-top: 0.4em;
}

.signUpInput:focus {
    box-shadow: rgba(57, 57, 104, 0.25) 0px 50px 100px -20px, rgba(32, 32, 32, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.existedAccount {
    font-size: 0.9em;
    color: #aaaaaa;
    margin-top: 1em;
}

.signInLink {
    text-decoration: none;
    color: #333;
}

.signInLink:hover {
    text-decoration: underline;
}