.signInContainer {
    display: flex;
    /* border: 1px solid black; */
    gap: 1em;
}

.signInLeftSide {
    width: 40%;
}

.signInUpImage {
    width: 100%;
}

.signInRightSide {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signInTitle {
    text-align: left;
    width: 50%;
    margin-bottom: 1.5em;
}

.formContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.signInUsernamePassword {
    display: flex;
    flex-direction: column;
}

.signInInput {
    height: 5vh;
    outline: none;
    font-size: 1.2em;
    padding: 10px;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 10px;
    margin-top: 0.4em;
}

.signInInput:focus {
    box-shadow: rgba(57, 57, 104, 0.25) 0px 50px 100px -20px, rgba(32, 32, 32, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.signInPassInputContainer {
    height: 5vh;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 10px;
    margin-top: 0.4em;
    display: flex;
    align-items: center;
}

.signInPassInput {
    height: 4.5vh;
    margin-left: 0.4em;
    outline: none;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    width: 100%;
}

.notAccount {
    font-size: 0.9em;
    color: #aaaaaa;
    margin-top: 1em;
}

.signUpLink {
    text-decoration: none;
    color: #333;
    font-family: "Lora";
}

.signUpLink:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1050px) {
    .signInContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5em;
        width: 100%;
    }

    .signInLeftSide {
        display: none;
    }

    .signInRightSide {
        width: 70%;
    }

    .signInTitle {
        width: 70%;
    }
    
    .formContainer {
        width: 70%;;
    }
}

@media screen and (max-width: 790px) {
    .signInRightSide {
        width: 80%;
    }

    .signInTitle {
        width: 80%;
    }
    
    .formContainer {
        width: 80%;;
    }
}

@media screen and (max-width: 420px) {
    .signInRightSide {
        width: 90%;
    }

    .signInTitle {
        width: 90%;
    }
    
    .formContainer {
        width: 90%;
    }

    .notAccount {
        margin-bottom: 6em;
    }
}